@import "tailwindcss";

@theme {
  --color-green: #016630;
  --color-darkGreen: #0D542B;
  --color-lightGreen: #008236;
  --color-veryLightGreen: #B9F8CF;
  --color-gray: #737373;
  --color-background: #FEFEFE;
}
